/* Tokyo Night */

@define-color background #1a1b26;
@define-color background-alt #283457;

@define-color foreground #a9b1d6;
@define-color foreground-alt #9aa5ce;

@define-color selected #c0caf5;
@define-color icon #7dcfff;

@define-color border #c0caf5;
