@import 'colors.css';

/* Universal Styling */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

/* Bar Styling */
#waybar {
    border: 2px solid @border;
    background-color: @background;
    /* background-color: transparent; */
    padding: 12px;
}

/* Modules */
#custom-logo,
#workspaces,
#mpris,
#clock,
#tray,
#cpu,
#memory,
#network,
#bluetooth,
#battery,
#pulseaudio,
#custom-power {
    background-color: @background;
    margin: 2px;
    padding: 0px 3px;
}

/* Custom logo */
#custom-logo {
    padding-right: 13px;
    padding-left: 10px;
    font-size: 20px;
    color: @icon;
}
#custom-logo:hover {
    color: @selected;
    background-color: @background-alt;
}

/* Workspaces */
#workspaces {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 0 14px;
    border: none;
    color: @foreground-alt;
    background-color: @background;
}

#workspaces button.active {
    color: @selected;
    background-color: @background-alt;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: @selected;
    background-color: @background-alt;
}

/* MPRIS */
#mpris {
    padding: 0px 8px;
    color: @foreground;
}

#mpris:hover {
    background-color: @background-alt;
    color: @selected;
}

/* Clock */
#clock {
    color: @foreground;
    padding: 0px 8px;
}

#clock:hover {
    color: @selected;
    background-color: @background-alt;
}

tooltip {
    padding: 15px;
    background-color: @background;
    border: 2px solid @border;
}

tooltip label {
    font-size: 14px;
    padding: 5px;
    background-color: @background;
}

/* Tray */
#tray {
    margin-right: 5px;
    padding: 0px 4px;
    font-size: 16px;
}

/* PC Management */
#cpu {
    color: @foreground;
    padding: 0px 8px 0px 8px;
}

#cpu:hover {
    color: @selected;
    background-color: @background-alt;
}

#memory {
    color: @foreground;
    padding: 0px 8px;
    margin-right: 5px;
}

#memory:hover {
    color: @selected;
    background-color: @background-alt;
}

/* Network */
#network {
    color: @foreground;
    padding-left: 6px;
    padding-right: 0px;
    font-size: 16px;
}

#network:hover {
    color: @selected;
    background-color: @background-alt;
}

/* Bluetooth */
#bluetooth {
    color: @foreground;
    padding-left: 6px;
    padding-right: 5px;
    font-size: 16px;
}

#bluetooth:hover {
    color: @selected;
    background-color: @background-alt;
}

/* Battery */
#battery {
    font-size: 16px;
    color: @foreground;
    padding-left: 6px;
    padding-right: 8px;
}

#battery:hover {
    color: @selected;
    background-color: @background-alt;
}

/* Pulseaudio */
#pulseaudio.output {
    color: @foreground;
    padding-left: 4px;
    padding-right: 12px;
}

/* #pulseaudio.input { */
/*     color: @lavander; */
/*     font-size: 18px; */
/*     padding-left: 6px; */
/*     padding-right: 12px; */
/*     margin-right: 5px; */
    /* border-radius: 0px 8px 8px 0px; */
/* } */
/* #pulseaudio.input.source-muted { */
/*     padding-left: 5px; */
/*     padding-right: 13px; */
/* } */

#pulseaudio:hover {
    color: @selected;
    background-color: @background-alt;
}

/* PowerOff */
#custom-power {
    color: @foreground;
    padding-left: 10px;
    padding-right: 12px;
    font-size: 16px;
}

#custom-power:hover {
    color: @selected;
    background-color: @background-alt;
}
